<link rel="stylesheet" href="{{ url_for('static',filename='css/layout/footer.css')}}">

<div class="information-footer">
    <div class="footer-container">
        <!-- Tài nguyên -->
        <div class="footer-section">
            <h4>TÀI NGUYÊN</h4>
            <ul>
                <li><a href="#">Bài viết</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Công cụ</a></li>
            </ul>
        </div>

        <!-- Dịch vụ -->
        <div class="footer-section">
            <h4>DỊCH VỤ</h4>
            <ul>

            </ul>
        </div>

        <!-- Liên kết -->
        <div class="footer-section">
            <h4>LIÊN KẾT</h4>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100054877985556&locale=vi_VN">Facebook</a></li>
                <li><a href="https://github.com/habaodang">Github</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 iLeande - The future you create</p>
    </div>
    </div>


