<link rel="stylesheet" href="{{ url_for('static',filename='css/layout/header.css')}}">

<header>
    <div class="logo">
        <img src="{{ url_for('static',filename='img/logo_iLeande (1).PNG')}}" alt="Logo">
        <h3>iLeande</h3>
    </div>
    <nav>
        <ul>
            <li><a href="#tool1">Bài viết</a></li>
            <li><a href="{{ url_for('main.videocall')}}">Video call</a></li>
            <li><a href="#tool3">Tool 3</a></li>
        </ul>
    </nav>
    <div class="account">
        {% if log %}
        <a href="{{url_for('main.logout')}}">
            <button >
                Đăng xuất
            </button>
            </a>
        {% else %}
        <a href="{{url_for('main.login')}}">
            <button >
                Đăng nhập
            </button>
            </a>
        {% endif %}
    </div>
</header>